.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--text-color);
}

.page__body {
	min-width: 375px;
	overflow-x: hidden;
	background-color: var(--main-color);
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin: 0 auto;
}

@media (width <= 768px) {
	.container {
		--container-width: 627px;
		width: min(var(--container-width), 100% - var(--container-padding) * 2);
	}
}

@media (width <= 390px) {
	.container {
		--container-width: 350px;
		width: min(var(--container-width), 100% - var(--container-padding) * 2);
	}
}

a:focus-visible,
button:focus-visible,
summary:focus-visible,
input:focus-visible,
article:focus-visible,
li:focus-visible,
.feedback__checkbox:focus-visible +.feedback__checkbox-custom {
	outline: 1px solid var(--accent-color);
	outline-offset: 2px;
	border-radius: var(--br-rad);
}

.section {
	padding-block: 150px;
}

@media (width <= 768px) {
	.section {
		padding: 60px 0px 70px 0;
		padding-top: 60px;
		padding-bottom: 70px;
	}
}

@media (width <= 390px) {
	.section {
		padding-block: 46px;
	}
}

.btn-right,
.btn-mo {
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: var(--br-rad);

	flex-direction: row;
	font-size: 24px;

	cursor: pointer;
	transition:
		border var(--transition-time),
		color var(--transition-time);
}

.category__product-title,
.category__product-text,
.category__product-icons {
	color: var(--text-color);
}

.title-bg {
	font-family: var(--second-family);
	font-size: 46px;
	line-height: 1.1;
}

.title-xxl {
	font-size: 42px;
}

@media (width <= 1300px) {
	.title-xxl {
		font-size: 30px;
	}
}

@media (width <= 786px) {
	.title-xxl {
		font-size: 20px;
	}
}

@media (width <= 390px) {
	.title-xxl {
		font-size: 17px;
	}
}

.title-xl {
	font-size: 26px;
}

@media (width <= 390px) {
	.title-xl {
		font-size: 20px;
	}
}

.title-md {
	font-size: 24px;
}

@media (width <= 768px) {
	.title-md {
		font-size: 12px;
	}
}

@media (width <= 390px) {
	.title-md {
		font-size: 10px;
	}
}

.title-l {
	font-size: 22px;
}

@media (width <= 390px) {
	.title-l {
		font-size: 17px;
	}
}

.title-m {
	font-size: 20px;
}

@media (width <= 768px) {
	.title-m {
		font-size: 14px;
	}
}

.title-xs {
	font-size: 18px;
}

@media (width <= 768px) {
	.title-xs {
		font-size: 12px;
	}
}

.title-s {
	font-size: 16px;
}

@media (width <= 390px) {
	.title-s {
		font-size: 15px;
	}
}
