.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--text-color);
}

.page__body {
	min-width: 375px;
	overflow-x: hidden;
	background-color: var(--main-color);
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin: 0 auto;
}

@media (width <= 768px) {
	.container {
		--container-width: 627px;
		width: min(var(--container-width), 100% - var(--container-padding) * 2);
	}
}

@media (width <= 390px) {
	.container {
		--container-width: 350px;
		width: min(var(--container-width), 100% - var(--container-padding) * 2);
	}
}

a:focus-visible,
button:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 2px;
}

.section {
	padding-block: 150px;
}

@media (width <= 768px) {
	.section {
		padding: 60px 0px 70px 0;
	}
}

@media (width <= 390px) {
	.section {
		padding: 31px 0px 46px 0;
	}
}

.category__product-title,
.category__product-text,
.category__product-icons {
	color: var(--text-color);
}

.section {
	padding-block: 150px;
}
