:root {
	/* font-family */
	--font-family: "Open Sans", sans-serif;
	--second-family: "NAMU Pro", sans-serif;

	/* colors */
	--main-color: #fff;
	--bg-color: #f8f8f8;
	--text-color: #111;
	--second-color: #000;
	--accent-color: #c5358c;
	--shadow-color:#0000000d;

	/* shadows */
	--shadow-glow:0 4px 41px 0 var(--shadow-color);

	/* container */
	--container-width: 1330px;
	--container-padding: 15px;

	/* transition */
	--transition-time: 0.2s;

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
