.category__products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 20px;
}

@media (width <= 1200px) {
	.category__products {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 20px;
	}
}

@media (width <= 768px) {
	.category__products {
		grid-template-columns: repeat(auto-fit, minmax(141px, 1fr));
		gap: 10px;
	}
}

.category__product {
	border:var(--btn-radr);
	box-shadow: var(--shadow-glow);
	background: var(--main-color);
}

.category__product-link {
	display: inline-block;
	height: 100%;
	max-height: 454px;
}

.category__product-content {
	padding: 19px 40px 30px;
	transition:
		background-color var(--transition-time),
		border-radius var(--transition-time);
}

@media (width <= 1200px) {
	.category__product-content {
		padding: 10px 14px 15px 12px;
	}
}

@media (width <= 390px) {
	.category__product-content {
		padding: 10px 42px 16px 12px;
	}
}

.category__product-title {
	font-family: var(--second-family);
	font-size: 30px;
	margin-bottom: 11px;
	transition: color var(--transition-time);
}

@media (width <= 1200px) {
	.category__product-title {
		font-size: 23px;
	}
}

@media (width <= 768px) {
	.category__product-title {
		font-size: 16px;
		margin-bottom: 5px;
	}
}

.category__product-text-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
}

@media (width <= 768px) {
	.category__product-text-wrapper {
		gap: 8px;
	}
}

.category__product-text {
	font-size: 24px;
	transition: color var(--transition-time);
}

@media (width <= 1200px) {
	.category__product-text {
		font-size: 20px;
	}
}

@media (width <= 768px) {
	.category__product-text {
		font-size: 12px;
	}
}

.category__product-icons {
	/* min-width:375px, max-width:1920px */
	width: clamp(11px, 0.34rem + 1.49vw, 34px);
	height: clamp(11px, 0.34rem + 1.49vw, 34px);
	transition: color var(--transition-time);
}

.category__product-icon {
	fill: currentColor;
}

@media (any-hover: hover) {
	.category__product:hover .category__product-content {
		background-color: var(--text-color);
		border-radius: 0 0 10px 10px;
	}

	.category__product:hover .category__product-title,
	.category__product:hover .category__product-text,
	.category__product:hover .category__product-icon {
		color: var(--main-color);
	}
}

.category__product:active .category__product-content {
		background-color: var(--text-color);
		border-radius: 0 0 10px 10px;
	}

.category__product:active .category__product-title,
.category__product:active .category__product-text,
.category__product:active .category__product-icons {
	color: var(--main-color);
}
