.category__products {
	display: grid;
	grid-template-columns: repeat(4, minmax(170px, 1fr));
	gap: 20px;
}

.category__product {
	border-radius: 3px;
	box-shadow: var(--shadow-glow);
	background: var(--main-color);
}

.category_product-link {
	height: 100%;
	max-height: 454px;
}

.category__product-content {
	padding: 20px 40px 30px;
}

.category__product-title {
	font-family: var(--second-family);
	font-size: 30px;
	color: var(--text-color);
	margin-bottom: 11px;
}



.category__product-text-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
}

.category__product-text {
	font-size: 24px;
	color: var(--text-color);
}

.category__product-icon {
	width: 28px;
	height: 25px;
	color: var(--text-color);
}


