.faq {
	background-color: var(--bg-color);
}

.faq__title {
	font-family: var(--second-family);
	font-size: 42px;
	max-width: 1150px;
	/* min-width:375px, max-width:1920px */
	margin-bottom: clamp(38px, 2.06rem + 1.36vw, 59px);
}

@media (width <= 768px) {
	.faq__title {
		font-size: 26px;
	}
}

@media (width <= 390px) {
	.faq__title {
		font-size: 20px;
	}
}

@media (width <= 576px) {
	.title-reduction {
		display: none;
	}
}

.faq__accordion {
	border-top: 1px solid #ababab;
}

.faq-accordion__item {
	border-bottom: 1px solid #ababab;
}

.faq-accordion__item[open] .faq-accordion__header::after {
	background: url(../../icons/close-icon.svg) no-repeat center / cover;
}

.faq-accordion__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	/* min-width:768, max-width:1920px */
	padding-block: clamp(18px, 0.46rem + 1.39vw, 34px);

	font-size: 20px;
	line-height: 1.5;

	list-style: none;
	cursor: pointer;
}

@media (width <= 768px) {
	.faq-accordion__header {
		font-size: 16px;
	}
}

@media (width <= 576px) {
	.faq-accordion__header {
		font-weight: 300;
		font-size: 13px;
		padding-block: 16px;
	}
}

.faq-accordion__header::after {
	content: "";
	display: inline-block;
	/* min-width:375px, max-width:1920px */
	width: clamp(1.5625rem, 1.37rem + 0.84vw, 2.375rem);
	height: clamp(1.5625rem, 1.37rem + 0.84vw, 2.375rem);
	background: url(../../icons/open-icon.svg) no-repeat center / cover;
	flex-shrink: 0;
	transition: transform var(--transition-time);
}

.faq-accordion__description {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
}

@media (width <= 768px) {
	.faq-accordion__description {
		font-size: 14px;
	}
}

@media (width <= 390px) {
	.faq-accordion__description {
		font-size: 10px;
	}
}

.faq-accordion__item > .faq-accordion__description {
	padding-bottom: 50px;
}

@media (width <= 768px) {
	.faq-accordion__item > .faq-accordion__description {
		padding-bottom: 35px;
	}
}

@media (width <= 390px) {
	.faq-accordion__item > .faq-accordion__description {
		padding-bottom: 20px;
	}
}
