.feedback {
	background-color: var(--bg-color);
}

.feedback__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* min-width:768px;max-width:1920 */
	gap: clamp(20px, -3.58rem + 10.07vw, 136px);
}

@media (width <= 576px) {
	.feedback__container {
		align-items: flex-start;
		flex-direction: column;
	}
}

@media (width <= 390px) {
	.feedback__container {
		gap: 46px;
	}
}

.feedback__block {
	flex: 1;
	display: flex;
	flex-direction: column;
}

@media (width <= 576px) {
	.feedback__block {
		width: 100%;
		flex: 0 1 auto;
	}
}

.feedback__title {
	font-family: var(--second-family);
	font-size: 42px;
	/* min-width:768px;max-width:1920 */
	margin-bottom: clamp(20px, 0rem + 2.6vw, 50px);
}

@media (width <= 992px) {
	.feedback__title {
		font-size: 25px;
	}
}

@media (width <= 786px) {
	.feedback__title {
		font-size: 20px;
	}
}

.feedback__group {
	border: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
	/* min-width:768px;max-width:1920 */
	margin-bottom: clamp(40px, 1.25rem + 2.6vw, 70px);
}

@media (width <= 768px) {
	.feedback__group {
		gap: 20px;
	}
}

@media (width <= 390px) {
	.feedback__group {
		margin-bottom: 36px;
	}
}

.feedback__input {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--text-color);
	padding: 15px 0;
	background: transparent;

	font-size: 18px;
}

@media (width <= 768px) {
	.feedback__input {
		padding: 7px 0;
		font-size: 12px;
	}
}

@media (width <= 390px) {
	.feedback__input {
		padding: 6px 0;
	}
}

.feedback__input::placeholder {
	color: #ababab;
}

.feedback__button,
.feedback__button-right {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-start;

	border-radius: 3px;
	background-color: var(--text-color);

	font-size: 24px;
	color: var(--main-color);
	cursor: pointer;
	transition: background-color var(--transition-time);
}

.feedback__button,
.feedback__button-right {
	padding: 15.5px 42.5px;
}

.feedback__button-right {
	padding: 15.5px 46.5px;
	margin-bottom: 35px;
}

@media (width <= 768px) {
	.feedback__button,
	.feedback__button-right {
		font-size: 16px;
		padding: 7px 26px;
	}

	.feedback__button-right {
		margin-bottom: 27px;
	}
}

@media (width <= 390px) {
	.feedback__button,
	.feedback__button-right {
		font-size: 15px;
		padding: 8px 25px;
	}

	.feedback__button-right {
		margin-bottom: 16px;
	}
}

@media (any-hover: hover) {
	.feedback__button:hover,
	.feedback__button-right:hover {
		background-color: var(--accent-color);
	}
}

.feedback__button:active,
.feedback__button-right:active {
	background-color: var(--accent-color);
}

.feedback__button-right:disabled {
	background-color: #ababab;
	color: var(--main-color);
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.7;
}

.feedback__checkbox-label {
	display: flex;
	gap: 16px;
	align-items: flex-start;
}

.feedback__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.feedback__checkbox-custom {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	vertical-align: sub;
	border: var(--btn-border);
	border-radius: var(--br-rad);
}

@media (width <= 768px) {
	.feedback__checkbox-custom {
		width: 19px;
		height: 19px;
	}
}

.feedback__checkbox-custom::before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 11px;
	background-image: url("../../images/decor/check.svg");
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	margin-top: 1px;

	transition: var(--transition-time) ease-in;
}

@media (width <= 768px) {
	.feedback__checkbox-custom::before {
		width: 11px;
		height: 7px;
	}
}

.feedback__checkbox:checked + .feedback__checkbox-custom::before {
	transform: translate(-50%, -50%) scale(1);
}

.checkbox-text {
	/* line-height: 19px; */
	line-height: 1.2;
}

@media (width <= 992px) {
	.checkbox-text {
		font-size: 12px;
	}
}

@media (width <= 768px) {
	.checkbox-text {
		font-size: 10px;
	}
}

@media (width <= 390px) {
	.checkbox-text {
		font-weight: 400;
	}
}
