.header {
	background-color: var(--text-color);
}

@media (width > 768px) {
	.header {
		padding-block: 6px;
	}
}

@media (width <= 768px) {
	.header {
		padding: 10px 0px 6px 0px;
	}
}

@media (width <= 390px) {
	.header {
		padding: 5px 0px 2px 0px;
	}
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



@media (width <= 1300px) {
	.header__burger {
		/* min-width 375px, max-width 1300px */
		margin-right: clamp(25px, 1.46rem + 2.05vw, 50px);
	}
}

.header__burger-button {
	color: var(--main-color);
	transition: color var(--transition-time);
}

.header__burger-svg {
	/* min-width 390px, max-width 1400px */
	width: clamp(30px, 1.39rem + 1.98vw, 50px);
	height: clamp(30px, 1.39rem + 1.98vw, 50px);
}

.header__burger-icon {
	stroke: currentColor;
}

@media (any-hover: hover) {
	.header__burger-button:hover {
		color: var(--accent-color);
	}
}

.header__burger-button:active {
	color: var(--accent-color);
}

@media (width <= 1300px) {
	.header__logo {
		flex-grow: 1;
	}
}

.logo__img {
	/* min-width 390px, max-width 1400px */
	width: clamp(94px, 3.73rem + 8.81vw, 183px);
	height: clamp(39px, 1.52rem + 3.76vw, 77px);
}

.header__actions-button {
	width: 36px;
	height: 36px;
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.header__actions-button:hover {
		color: var(--accent-color);
	}
}

.header__actions-button:active {
	color: var(--accent-color);
}

.header__actions-svg {
	/* min-width 390px, max-width 1400px */
	width: clamp(24px, 1.21rem + 1.19vw, 36px);
	height: clamp(24px, 1.21rem + 1.19vw, 36px);
}

.header__actions-icon {
	position: relative;
	stroke: currentColor;
}

@media (width > 390px) {
	.header__actions::after {
		display: none;
	}
}

@media (width <= 390px) {
	.header__actions::after {
		content: "1";
		position: absolute;
		top: 21px;
		right: 12px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: var(--main-color);

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 9px;
		color: var(--second-color);

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
