.header {
	background-color: var(--text-color);
}

@media (width > 768px) {
	.header {
		padding-block: 6px;
	}
}

@media (width <= 768px) {
	.header {
		padding: 10px 0px 6px 0px;
	}
}

@media (width <= 390px) {
	.header {
		padding: 5px 0px 2px 0px;
	}
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (width <= 1200px) {
	.header__burger {
		/* min-width 375px, max-width 1200px */
		margin-right: clamp(25px, 0.85rem + 3.03vw, 50px);
	}
}

.header__burger-button {
	color: var(--main-color);
	transition: color var(--transition-time);
}

.header__burger-svg {
	/* min-width 390px, max-width 1400px */
	width: clamp(30px, 1.39rem + 1.98vw, 50px);
	height: clamp(30px, 1.39rem + 1.98vw, 50px);
}

.header__burger-icon {
	stroke: currentColor;
}

@media (any-hover: hover) {
	.header__burger-button:hover {
		color: var(--accent-color);
	}
}

.header__burger-button:active {
	color: var(--accent-color);
}

@media (width <= 1300px) {
	.header__logo {
		flex-grow: 1;
	}
}

@media (width <= 1200px) {
	.header__menu {
		position: fixed;
		top: 0;
		left: -100vw;
		bottom: 0;
		z-index: var(--layer-2);
		padding-top: 140px;
		padding-left: 25px;
		min-width: 325px;
		background-color: var(--text-color);
		box-shadow: 0 4px 41px 0 var(--text-color);
		opacity: 0;
		visibility: hidden;
		transition:
			left var(--transition-time),
			opacity var(--transition-time),
			visibility var(--transition-time);
	}

	.header__menu--open {
		left: 0;
		opacity: 1; 	 	
		visibility: visible;
	}

	.header__menu .menu__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: start;
	}
}

.header__actions {
	position: relative;
	overflow: visible;
}

.header__actions-button {
	width: 36px;
	height: 36px;
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.header__actions-button:hover {
		color: var(--accent-color);
	}
}

.header__actions-button:active {
	color: var(--accent-color);
}

.header__actions-svg {
	/* min-width 390px, max-width 1400px */
	width: clamp(24px, 1.21rem + 1.19vw, 36px);
	height: clamp(24px, 1.21rem + 1.19vw, 36px);
}

.header__actions-icon {
	stroke: currentColor;
}

@media (width > 390px) {
	.header__actions::after {
		display: none;
	}
}

@media (width <= 390px) {
	.header__actions::after {
		content: "1";
		position: absolute;
		top: 15px;
		right: -8px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: var(--main-color);

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 9px;
		color: var(--second-color);

		display: flex;
		align-items: center;
		justify-content: center;

		z-index: 1;
	}
}
