.reviews__title {
	font-family: var(--second-family);
	margin-bottom: 20px;
}

.reviews__title-accent {
	color: var(--accent-color);
}

.reviews_header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 70px;
	margin-bottom: 50px;
}

.rating-reviews {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.rating-reviews__number {
	font-size: 20px;
}

.rating-reviews__accent {
	font-weight: 500;
	font-size: 30px;
}

.raiting-reviews__star {
	color: var(--text-color);
}
.raiting__star-icon {
	fill: currentColor;
}

.reviews-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	border: 1px solid var(--text-color);
	border-radius: var(--br-rad);
	padding-inline: 41px;
	padding-block: 15.5px;

	color: var(--text-color);
	cursor: pointer;
	transition:
		border var(--transition-time),
		color var(--transition-time);
}

@media (any-hover: hover) {
	.reviews-btn:hover {
		border: 1px solid var(--accent-color);
		color: var(--accent-color);
	}
}

.reviews-btn:active {
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.reviews__list {
	border-top: 1px solid #ababab;
	padding: 40px 0;
}

.reviews-card {
	display: flex;
	gap: 70px;
	border-bottom: 1px solid #ababab;
	margin-bottom: 40px;
}

.reviews-card__author-info {
	flex-shrink: 0;
	max-width: 161px;
}

.reviews-card__name {
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 15px;
}

.reviews-card__body {
	flex-grow: 1;
}

.reviews-card__title {
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 10px;
}

.reviews-card__text {
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 30px;
}

.reviews-card__gallery {
	display: flex;
	align-items: flex-end;
	gap: 20px;
}

.reviews-card__img {
	border-radius: 3px;
	margin-bottom: 10px;
}

.reviews-card__btn {
	color: var(--text-color);
	text-decoration: underline 1px var(--text-color);
	text-underline-offset: 5px;
	white-space: nowrap;
}

@media (any-hover: hover) {
	.reviews-card__btn:hover {
		color: var(--accent-color);
		text-decoration: underline 1px var(--accent-color);
	}
}

.reviews-card__btn:active {
	color: var(--accent-color);
	text-decoration: underline 1px var(--accent-color);
}

.reviews-card__footer {
	font-weight: 300;
	line-height: 1.5;
	color: var(--data-card);
}

.reviews__footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.reviews__btn-mo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;

	color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 3px;
	padding: 15.5px 39px 15.5px 49px;

	font-size: 24px;
	cursor: pointer;
	transition:
		border var(--transition-time),
		color var(--transition-time);
}

@media (any-hover: hover) {
	.reviews__btn-mo:hover {
		border: 1px solid var(--accent-color);
		color: var(--accent-color);
	}
}

.reviews__btn-mo:active {
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.reviews__btn-icon-mo {
	fill: currentColor;
}
