.reviews__title {
	font-family: var(--second-family);
	font-size: 42px;
	/* min-width:390px;max-width:1920 */
	margin-bottom: clamp(20px, 1.14rem + 0.46vw, 27px);
}

@media (width <= 768px) {
	.reviews__title {
		font-size: 26px;
	}
}
@media (width <= 576px) {
	.reviews__title {
		font-size: 20px;
	}
}

.reviews__title-accent {
	color: var(--accent-color);
}

.reviews_header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 70px;
	/* min-width:390px;max-width:1920 */
	margin-bottom: clamp(20px, 0.77rem + 1.96vw, 50px);
}

@media (width <= 576px) {
	.reviews_header {
		justify-content: space-between;
	}
}

.rating-reviews {
	display: flex;
	flex-direction: column;
}

@media (width <= 768px) {
	.rating-reviews {
		gap: 3px;
	}
}

@media (width > 768px) {
	.rating-reviews__number {
		font-size: 20px;
	}
}

@media (width <= 768px) {
	.rating-reviews__number {
		font-size: 12px;
	}
}

.rating-reviews__accent {
	font-weight: 500;
	font-size: 30px;
}

@media (width <= 768px) {
	.rating-reviews__accent {
		font-size: 16px;
	}
}


.rating-reviews__star {
	color: var(--text-color);
	/* min-width:768px;max-width:1920 */
	width: clamp(11px, -0.1rem + 1.65vw, 30px);
	height: clamp(11px, -0.1rem + 1.65vw, 30px);
}
.rating__star-icon {
	fill: currentColor;
}

.reviews-btn {
	padding-inline: 41px;
	padding-block: 15.5px;
}

@media (width <= 768px) {
	.reviews-btn {
		font-size: 16px;

		padding-inline: 37px;
		padding-block: 7px;
	}
}

@media (width <= 576px) {
	.reviews-btn {
		font-size: 12px;

		padding-inline: 20.5px;
		padding-block: 10px;
	}
}

@media (any-hover: hover) {
	.reviews-btn:hover {
		border: 1px solid var(--accent-color);
		color: var(--accent-color);
	}
}

.reviews-btn:active {
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.reviews__list {
	border-top: 1px solid #ababab;
	padding-top: 40px;
}

@media (width <= 768px) {
	.reviews__list {
		padding-top: 20px;
	}
}

.reviews-card {
	display: flex;
	gap: 70px;
	border-bottom: 1px solid #ababab;
	margin-bottom: 40px;
}

@media (width <= 768px) {
	.reviews-card {
		gap: 102px;
	}
}

@media (width <= 576px) {
	.reviews-card {
		position: relative;
		flex-direction: column;
		gap: 10px;
	}
}

.reviews-card__author-info {
	flex-shrink: 0;
}

.reviews-card__name {
	font-weight: 500;
	line-height: 1.5;
	/* min-width:768px;max-width:1920 */
	margin-bottom: clamp(6px, 0.23rem + 0.59vw, 15px);
}

@media (width <= 576px) {
	.reviews-card__name {
		font-weight: 600;
		font-size: 12px;
	}
}

.reviews-card__star {
	/* min-width:768px;max-width:1920 */
	width: clamp(11px, -0.1rem + 1.65vw, 30px);
	height: clamp(11px, -0.1rem + 1.65vw, 30px);
}

.reviews-card__body {
	flex-grow: 1;
}

.reviews-card__title {
	font-weight: 600;
	line-height: 1.5;
	/* min-width:390px;max-width:1920 */
	margin-bottom: clamp(6px, 0.31rem + 0.26vw, 10px);
}

@media (width <= 576px) {
	.reviews-card__title {
		font-size: 12px;
	}
}

.reviews-card__text {
	font-weight: 300;
	line-height: 1.4;
	max-width: 783px;
	/* min-width:768px;max-width:1920 */
	margin-bottom: clamp(22px, 0.63rem + 1.56vw, 40px);
}

@media (width <= 576px) {
	.reviews-card__text {
		font-weight: 300;
	}
}

.reviews-card__gallery {
	display: flex;
	align-items: flex-end;
	gap: 20px;
}

@media (width <= 576px) {
	.reviews-card__gallery {
		gap: 10px;
	}
}

.reviews-card__img {
	border-radius: 3px;
	margin-bottom: 10px;
	/* min-width:768px;max-width:1920 */
	width: clamp(61px, 2.4rem + 2.95vw, 95px);
	height: clamp(61px, 2.4rem + 2.95vw, 95px);
}

@media (width <= 576px) {
	.reviews-card__img {
		/* min-width:390px;max-width:1920px */
		width: 80px;
		height: 80px;
	}
}

.reviews-card__btn {
	color: var(--text-color);
	text-decoration: underline 1px var(--text-color);
	text-underline-offset: 5px;
	white-space: nowrap;
	/* min-width: 768px;max-width: 1920px */
	margin-bottom: clamp(0.75rem, -0.42rem + 2.43vw, 2.5rem);
	transition:
		color var(--transition-time),
		text-decoration var(--transition-time);
}

@media (any-hover: hover) {
	.reviews-card__btn:hover {
		color: var(--accent-color);
		text-decoration-color: var(--accent-color);
	}
}

.reviews-card__btn:active {
	color: var(--accent-color);
	text-decoration-color: var(--accent-color);
}

.reviews-card__btn-text {
	font-family: var(--font-family);
	font-size: 18px;
}

@media (width <= 768px) {
	.reviews-card__btn-text {
		font-size: 12px;
	}
}

.reviews-card__footer {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
	color: var(--data-card);
}

@media (width <= 768px) {
	.reviews-card__footer {
		font-size: 12px;
	}
}

@media (width <= 576px) {
	.reviews-card__time {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.reviews__footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.reviews__btn-mo {
	gap: 30px;
	padding: 15.5px 39px 15.5px 49px;
}

@media (width <= 768px) {
	.reviews__btn-mo {
		gap: 14px;
		font-size: 16px;
		padding: 7px 22.5px 7px 26.5px;
	}
}

@media (width <= 576px) {
	.reviews__btn-mo {
		font-size: 15px;
		padding: 6.5px 17.5px 6.5px 21.5px;
	}
}

@media (any-hover: hover) {
	.reviews__btn-mo:hover {
		border-color: var(--accent-color);
		color: var(--accent-color);
	}
}

.reviews__btn-mo:active {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.reviews__btn-icon-mo {
	fill: currentColor;
}

.reviews__btn-icon-mo {
	/* min-width:390px;max-width:1920 */
	width: clamp(15px, 0.76rem + 0.72vw, 26px);
	height: clamp(14px, 0.7rem + 0.72vw, 25px);
}
